@font-face {
    font-family: 'NikkyouSans-mLKax';
    src: url(" /font/NikkyouSans-mLKax.ttf ");

}


* {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.navbar{
    font-family: 'NikkyouSans-mLKax';
}

.category {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.459);
}

.container_content {
    gap: 20px;
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    padding: 50px;
}

.container-date {
    text-align: center;
    margin: auto;
    max-width: 60%;
    padding: 20px;
    margin-bottom: 10px;
}

.content_one {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    align-items: center;
}

.product_content {
    position: relative;
    background-color: white;
    padding: 10px;
    border: 2px solid;
    border-radius: 5px;
    box-shadow: 0 0 15px #0a58ca
}

.accelerated.box {
    transition: transform 750ms;
    will-change: transform;
}

.accelerated.box:hover,
.accelerated.box:focus {
    transform: translateY(-10px);
}

img {
    width: 50%;
    height: 100 vh;
    display: block;
    margin: auto;
}

.icon {
    font-size: 25px !important;
    position: absolute;
    right: 0;
    top: 0;
    padding: auto;
    margin: 15px;
}

.ui-datepicker-title{
    margin: auto;
}
